<!doctype html>
<html lang="en">
<link href="../../c3.css" rel="stylesheet">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/path/to/c3.min.js"></script>
<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <h1>Causes of Death in the United States</h1>
  <h4>Population of US: 331.9 Million</h3>
  <h2>Map of the US (links to micropages by clicking on state)</h2>
  <img src="placeholder.png" class="diagram">
  <br>
  <% for(state in data){ %>
    <a href="<%= data[state].link %>.html"><%= state %></a>
    <br>
  <% } %>

  <h2>Causes of Death in the United States 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  <h2>Total Deaths from 1999-2020</h2>
  <img src="placeholder.png" class="diagram">

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
