<!doctype html>
<html lang="en">
<head>
   <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
</head>
<p id='state_data' class="hidden"><%= JSON.stringify(data)%></p>
<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1 id="state_title">Deaths in <%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Insert <%= name %>'s image</h2>
  <h2>Stats</h2>
  <img src="placeholder.png" class="diagram">

<div id="Neoplasms" style="width:600px;height:250px;"></div>



<script>
let data = JSON.parse(document.getElementById("state_data").innerHTML)
console.log(data)
let xData = []
let yData = []
for(year in data){
  xData.push(year)
  yData.push(data[year]['Neoplasms']['deaths'])
}
console.log(xData)
console.log(yData)
	NEOPLASMS = document.getElementById('Neoplasms');
	Plotly.newPlot( NEOPLASMS, [{
	x: xData,
	y: yData }], {
	margin: { t: 0 } } );
</script>

<script>
let data = JSON.parse(document.getElementById("state_data").innerHTML)
let xData = []
let yData = []
for(year in data){
  for(cause in data[year]){
    var cause = {
    x: xData,
    y: [20, 14, 23],
    name: cause,
    type: 'bar'
    };
  }
}


var trace2 = {
x: ['giraffes', 'orangutans', 'monkeys'],
y: [12, 18, 29],
name: 'LA Zoo',
type: 'bar'
};

var data = [trace1, trace2];

var layout = {barmode: 'stack'};

Plotly.newPlot('myDiv', data, layout);
</script>

<% for(year in data){ %>
  <tr>
    <th><%= year %></th>
    <th><%= data[year].population %></th>
    <% for(cause in data[year]){ %>
    <td><%= data[year][cause].deaths %></td>
    <% } %>
  </tr>
<% } %>
<p>
  chart should be above this text
</p>
  <div id="chart"></div>

  <h1>This data will be shown through the graph but here's the data</h1>
  <table>
    <tr>
      <th>Causes</th>
      <%for(cause in data['2001']){ %>
        <th>
          <%=cause%>
        </th>
        <% }%>

    </tr>
      <% for(year in data){ %>
        <tr>
          <th><%= year %></th>
          <th><%= data[year].population %></th>
          <% for(cause in data[year]){ %>
          <td><%= data[year][cause].deaths %></td>
          <% } %>
        </tr>
      <% } %>

  </table>

  <h2>Leading Causes of Death 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  <h2>Deaths/yr 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  </section>

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
