<!doctype html>
<html lang="en">
<head>
   <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
</head>

<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1>Deaths in <%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Insert <%= name %>'s image</h2>
  <h2>Stats</h2>
  <img src="placeholder.png" class="diagram">
<div id="tester" style="width:600px;height:250px;"></div>

<script>
	TESTER = document.getElementById('tester');
	Plotly.newPlot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );
</script>
<div id="Neoplasms" style="width:600px;height:250px;"></div>
<script>
let xData = []
let yData = []
for(year in data){
  xData.push(year)
  console.log(xData)
  console.log(data[year]['Neoplasms']['deaths'])
  yData.push(data[year]['Neoplasms']['deaths'])
  console.log(yData)
}
	NEOPLASMS = document.getElementById('Neoplasms');
	Plotly.newPlot( NEOPLASMS, [{
	x: xData,
	y: yData }], {
	margin: { t: 0 } } );
</script>

<% for(year in data){ %>
  <tr>
    <th><%= year %></th>
    <th><%= data[year].population %></th>
    <% for(cause in data[year]){ %>
    <td><%= data[year][cause].deaths %></td>
    <% } %>
  </tr>
<% } %>
<p>
  chart should be above this text
</p>
  <div id="chart"></div>

  <h1>This data will be shown through the graph but here's the data</h1>
  <table>
    <tr>
      <th>Causes</th>
      <%for(cause in data['2001']){ %>
        <th>
          <%=cause%>
        </th>
        <% }%>

    </tr>
      <% for(year in data){ %>
        <tr>
          <th><%= year %></th>
          <th><%= data[year].population %></th>
          <% for(cause in data[year]){ %>
          <td><%= data[year][cause].deaths %></td>
          <% } %>
        </tr>
      <% } %>

  </table>

  <h2>Leading Causes of Death 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  <h2>Deaths/yr 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  </section>

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
