<!doctype html>
<html lang="en">
<link href="../../c3.css" rel="stylesheet">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/path/to/c3.min.js"></script>

<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1>Deaths in <%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Insert <%= name %>'s image</h2>
  <h2>Stats</h2>
  <img src="placeholder.png" class="diagram">
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25]
      ]
    }
});
  <h1>This data will be shown through the graph but here's the data</h1>
  <table>
    <tr>
      <th>Causes</th>
      <%for(cause in data['2001']){ %>
        <th>
          <%=cause%>
        </th>
        <% }%>

    </tr>
      <% for(year in data){ %>
        <tr>
          <th><%= year %></th>
          <th><%= data[year].population %></th>
          <% for(cause in data[year]){ %>
          <td><%= data[year][cause].deaths %></td>
          <% } %>
        </tr>
      <% } %>

  </table>

  <h2>Leading Causes of Death 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  <h2>Deaths/yr 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  </section>

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
