<!doctype html>
<html lang="en">

<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1>Deaths in <%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Insert <%= name %>'s image</h2>
  <h2>Stats</h2>
  <img src="placeholder.png" class="diagram">
  <table>
    <tr>
      <%for(cause in data[2001]){ %>
        <th>
          <%=cause%>
        </th>
        <% }%>

    </tr>
      <% for(year in data){ %>
        <tr>
          <% for(cause in data[year]){ %>
          <td><%= data[year][cause] %></td>
          <% } %>
        </tr>
      <% } %>

  </table>

  <h2>Leading Causes of Death 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  <h2>Deaths/yr 1999-2020</h2>
  <img src="placeholder.png" class="diagram">
  </section>

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
