<!doctype html>
<html lang="en">

<%- include ('global/header.ejs'); %>

<body>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1><%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Stats</h2>
  <h5>Total Population: <%= data['population'] %></h5>
  </section>

  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
