<!doctype html>
<html lang="en">
<%- include ('global/header.ejs'); %>

<body>
  <p id='state_data' class="hidden"><%= JSON.stringify(data)%></p>
  <%- include ('global/navbar.ejs'); %>
  <header>
    <h1 id="state_title">Deaths in <%=name%></h1>
  </header>

  <section id="state-stats">
  <h2>Stats:</h2>
  <h6>Population: <%= data['2020 ']['population']%></h6>
  <h2>Deaths per Year (1999-2020)</h2>
<div id="Neoplasms" style="width:600px;height:250px;"></div>
<h2>Causes of Death each Year (1999-2020)</h2>
<div id="Deaths" style="width:width;height:800px;"></div>

<script src="state_charts.js"></script>
<ul>  
  <li>Like with our national data, we see a clear uptick in deaths in 2020
    <ul>
      <li>This is likely caused by the COVID-19 Pandemic</li>
    </ul>
  </li>
  <li>Year to year fluctuations in deaths are much more pronounced
    <ul>
      <li>
        At a national level, the upticks and downticks in various causes of death mean the totals even out over 50 states and Washington D.C.. States have only a small fraction of the national population. Thus, they are more prone to measurement error
      </li>
    </ul>
  </li>
  <li>
    Because there is migration between states, we do not see the same steady population growth that we do on the national level.
    <ul><li>Thus, we do not see the same rougly steady increase in year to year deaths</li></ul>
  </li>
</ul>
<p></p>
<p>In 2020, we see an uptick in deaths in all 50 states. However, in some, we see a downtick in the states deaths as a percentage of national deaths. Likewise, in some states we see an uptick.</p>
<ul><li>We believe a pronounced uptick or downtick reflects a bad or good covid response respectively. New York, for example, saw a sharp uptick. Given its density, one might expect a bad covid response. Oklahoma saw a sharp downtick. Given its lack of density, it makes sense that there was less covid spread.</li></ul>
<h1>Comparison to National Data</h1>
<h2>Percentage of Population</h2>
<div id="pie_chart_my"></div>
<h2>Percentage of Deaths Each Year</h2>
<div id="line_chart_my"></div>
<script src="compare_charts.js"></script>
<a class="back_state" id="back_state">Previous State</a>
<a class="next_state" id="next_state">Next State</a>
<script src="next_back.js"></script>
<!--
<% for(year in data){ %>
  <tr>
    <th><%= year %></th>
    <th><%= data[year].population %></th>
    <% for(cause in data[year]){ %>
    <td><%= data[year][cause].deaths %></td>
    <% } %>
  </tr>
<% } %>
-->
  <!--
  <table>
    <tr>
      <th>Causes</th>
      <%for(cause in data['2001']){ %>
        <th>
          <%=cause%>
        </th>
        <% }%>

    </tr>
      <% for(year in data){ %>
        <tr>
          <th><%= year %></th>
          <th><%= data[year].population %></th>
          <% for(cause in data[year]){ %>
          <td><%= data[year][cause].deaths %></td>
          <% } %>
        </tr>
      <% } %>

  </table>
-->
  </section>
  
  <%- include ('global/footer');  %>
  <%- include ('global/scripts.ejs'); %>
</body>

</html>
